<div class="col-sm-4">
    <div class="panel panel-success">
        <div class="panel-heading"><a href="{{ path('product', {'slug': product.slug}) }}">{{ product.name }}</a></div>
        <div class="panel-body"><img src="https://picsum.photos/200/200?image={{ product.id }}"></img></div>
        <div class="panel-footer">{{ product.price|number_format(2, '.', ',') }}</div>
    </div>
</div>